<div>
    <h2 id="page-heading">
        <span jhiTranslate="cmsv2App.brokerCurrency.home.title">Broker Currencies</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-broker-currency" [routerLink]="['/broker-currency/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cmsv2App.brokerCurrency.home.createLabel">
            Create a new Broker Currency
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="brokerCurrencies?.length === 0">
        <span jhiTranslate="cmsv2App.brokerCurrency.home.notFound">No brokerCurrencies found</span>
    </div>
    <div class="table-responsive" *ngIf="brokerCurrencies?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="brokerId"><span jhiTranslate="cmsv2App.brokerCurrency.brokerId">Broker Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="currencyId"><span jhiTranslate="cmsv2App.brokerCurrency.currencyId">Currency Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="enableWithdraw"><span jhiTranslate="cmsv2App.brokerCurrency.enableWithdraw">Enable Withdraw</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="enableDeposit"><span jhiTranslate="cmsv2App.brokerCurrency.enableDeposit">Enable Deposit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="minDeposit"><span jhiTranslate="cmsv2App.brokerCurrency.minDeposit">Min Deposit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="minWithdraw"><span jhiTranslate="cmsv2App.brokerCurrency.minWithdraw">Min Withdraw</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="feeWithdraw"><span jhiTranslate="cmsv2App.brokerCurrency.feeWithdraw">Fee Withdraw</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="activeFlg"><span jhiTranslate="cmsv2App.brokerCurrency.activeFlg">Active Flg</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="created"><span jhiTranslate="cmsv2App.brokerCurrency.created">Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updated"><span jhiTranslate="cmsv2App.brokerCurrency.updated">Updated</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="maxAllowWithdraw"><span jhiTranslate="cmsv2App.brokerCurrency.maxAllowWithdraw">Max Allow Withdraw</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="walletId"><span jhiTranslate="cmsv2App.brokerCurrency.walletId">Wallet Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let brokerCurrency of brokerCurrencies ;trackBy: trackId">
                <td><a [routerLink]="['/broker-currency', brokerCurrency.id, 'view' ]">{{brokerCurrency.id}}</a></td>
                <td>{{brokerCurrency.brokerId}}</td>
                <td>{{brokerCurrency.currencyId}}</td>
                <td>{{brokerCurrency.enableWithdraw}}</td>
                <td>{{brokerCurrency.enableDeposit}}</td>
                <td>{{brokerCurrency.minDeposit}}</td>
                <td>{{brokerCurrency.minWithdraw}}</td>
                <td>{{brokerCurrency.feeWithdraw}}</td>
                <td>{{brokerCurrency.activeFlg}}</td>
                <td>{{brokerCurrency.created | date:'medium'}}</td>
                <td>{{brokerCurrency.updated | date:'medium'}}</td>
                <td>{{brokerCurrency.maxAllowWithdraw}}</td>
                <td>{{brokerCurrency.walletId}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/broker-currency', brokerCurrency.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/broker-currency', brokerCurrency.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/broker-currency', { outlets: { popup: brokerCurrency.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="brokerCurrencies?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
