<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-broker-currency-heading" jhiTranslate="cmsv2App.brokerCurrency.home.createOrEditLabel">Create or edit a Broker Currency</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.brokerCurrency.brokerId" for="field_brokerId">Broker Id</label>
                    <input type="number" class="form-control" name="brokerId" id="field_brokerId"
                           formControlName="brokerId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.brokerCurrency.currencyId" for="field_currencyId">Currency Id</label>
                    <input type="number" class="form-control" name="currencyId" id="field_currencyId"
                           formControlName="currencyId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.brokerCurrency.enableWithdraw" for="field_enableWithdraw">Enable Withdraw</label>
                    <input type="number" class="form-control" name="enableWithdraw" id="field_enableWithdraw"
                           formControlName="enableWithdraw"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.brokerCurrency.enableDeposit" for="field_enableDeposit">Enable Deposit</label>
                    <input type="number" class="form-control" name="enableDeposit" id="field_enableDeposit"
                           formControlName="enableDeposit"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.brokerCurrency.minDeposit" for="field_minDeposit">Min Deposit</label>
                    <input type="number" class="form-control" name="minDeposit" id="field_minDeposit"
                           formControlName="minDeposit"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.brokerCurrency.minWithdraw" for="field_minWithdraw">Min Withdraw</label>
                    <input type="number" class="form-control" name="minWithdraw" id="field_minWithdraw"
                           formControlName="minWithdraw"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.brokerCurrency.feeWithdraw" for="field_feeWithdraw">Fee Withdraw</label>
                    <input type="number" class="form-control" name="feeWithdraw" id="field_feeWithdraw"
                           formControlName="feeWithdraw"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.brokerCurrency.activeFlg" for="field_activeFlg">Active Flg</label>
                    <input type="number" class="form-control" name="activeFlg" id="field_activeFlg"
                           formControlName="activeFlg"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.brokerCurrency.created" for="field_created">Created</label>
                    <div class="d-flex">
                        <input id="field_created" type="datetime-local" class="form-control" name="created" formControlName="created" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.brokerCurrency.updated" for="field_updated">Updated</label>
                    <div class="d-flex">
                        <input id="field_updated" type="datetime-local" class="form-control" name="updated" formControlName="updated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.brokerCurrency.maxAllowWithdraw" for="field_maxAllowWithdraw">Max Allow Withdraw</label>
                    <input type="number" class="form-control" name="maxAllowWithdraw" id="field_maxAllowWithdraw"
                           formControlName="maxAllowWithdraw"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.brokerCurrency.walletId" for="field_walletId">Wallet Id</label>
                    <input type="text" class="form-control" name="walletId" id="field_walletId"
                           formControlName="walletId"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
