<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="brokerCurrency">
            <h2><span jhiTranslate="cmsv2App.brokerCurrency.detail.title">Broker Currency</span> {{brokerCurrency.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cmsv2App.brokerCurrency.brokerId">Broker Id</span></dt>
                <dd>
                    <span>{{brokerCurrency.brokerId}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.brokerCurrency.currencyId">Currency Id</span></dt>
                <dd>
                    <span>{{brokerCurrency.currencyId}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.brokerCurrency.enableWithdraw">Enable Withdraw</span></dt>
                <dd>
                    <span>{{brokerCurrency.enableWithdraw}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.brokerCurrency.enableDeposit">Enable Deposit</span></dt>
                <dd>
                    <span>{{brokerCurrency.enableDeposit}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.brokerCurrency.minDeposit">Min Deposit</span></dt>
                <dd>
                    <span>{{brokerCurrency.minDeposit}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.brokerCurrency.minWithdraw">Min Withdraw</span></dt>
                <dd>
                    <span>{{brokerCurrency.minWithdraw}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.brokerCurrency.feeWithdraw">Fee Withdraw</span></dt>
                <dd>
                    <span>{{brokerCurrency.feeWithdraw}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.brokerCurrency.activeFlg">Active Flg</span></dt>
                <dd>
                    <span>{{brokerCurrency.activeFlg}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.brokerCurrency.created">Created</span></dt>
                <dd>
                    <span>{{brokerCurrency.created}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.brokerCurrency.updated">Updated</span></dt>
                <dd>
                    <span>{{brokerCurrency.updated}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.brokerCurrency.maxAllowWithdraw">Max Allow Withdraw</span></dt>
                <dd>
                    <span>{{brokerCurrency.maxAllowWithdraw}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.brokerCurrency.walletId">Wallet Id</span></dt>
                <dd>
                    <span>{{brokerCurrency.walletId}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/broker-currency', brokerCurrency.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
