<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-currency-heading" jhiTranslate="cmsv2App.currency.home.createOrEditLabel">Create or edit a Currency</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.currency.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.currency.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.currency.targetConfirms" for="field_targetConfirms">Target Confirms</label>
                    <input type="number" class="form-control" name="targetConfirms" id="field_targetConfirms"
                           formControlName="targetConfirms"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.currency.activeFlg" for="field_activeFlg">Active Flg</label>
                    <input type="number" class="form-control" name="activeFlg" id="field_activeFlg"
                           formControlName="activeFlg"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.currency.created" for="field_created">Created</label>
                    <div class="d-flex">
                        <input id="field_created" type="datetime-local" class="form-control" name="created" formControlName="created" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.currency.updated" for="field_updated">Updated</label>
                    <div class="d-flex">
                        <input id="field_updated" type="datetime-local" class="form-control" name="updated" formControlName="updated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.currency.isDemo" for="field_isDemo">Is Demo</label>
                    <input type="number" class="form-control" name="isDemo" id="field_isDemo"
                           formControlName="isDemo"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.currency.maxSize" for="field_maxSize">Max Size</label>
                    <input type="number" class="form-control" name="maxSize" id="field_maxSize"
                           formControlName="maxSize"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.currency.minSize" for="field_minSize">Min Size</label>
                    <input type="number" class="form-control" name="minSize" id="field_minSize"
                           formControlName="minSize"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.currency.maxTime" for="field_maxTime">Max Time</label>
                    <input type="number" class="form-control" name="maxTime" id="field_maxTime"
                           formControlName="maxTime"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.currency.initAmountDemo" for="field_initAmountDemo">Init Amount Demo</label>
                    <input type="number" class="form-control" name="initAmountDemo" id="field_initAmountDemo"
                           formControlName="initAmountDemo"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.currency.decimalAmount" for="field_decimalAmount">Decimal Amount</label>
                    <input type="number" class="form-control" name="decimalAmount" id="field_decimalAmount"
                           formControlName="decimalAmount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.currency.baseUnit" for="field_baseUnit">Base Unit</label>
                    <input type="number" class="form-control" name="baseUnit" id="field_baseUnit"
                           formControlName="baseUnit"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
