<div>
    <h2 id="page-heading">
        <span jhiTranslate="cmsv2App.currency.home.title">Currencies</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-currency" [routerLink]="['/currency/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cmsv2App.currency.home.createLabel">
            Create a new Currency
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="currencies?.length === 0">
        <span jhiTranslate="cmsv2App.currency.home.notFound">No currencies found</span>
    </div>
    <div class="table-responsive" *ngIf="currencies?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="cmsv2App.currency.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="code"><span jhiTranslate="cmsv2App.currency.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="targetConfirms"><span jhiTranslate="cmsv2App.currency.targetConfirms">Target Confirms</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="activeFlg"><span jhiTranslate="cmsv2App.currency.activeFlg">Active Flg</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="created"><span jhiTranslate="cmsv2App.currency.created">Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updated"><span jhiTranslate="cmsv2App.currency.updated">Updated</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isDemo"><span jhiTranslate="cmsv2App.currency.isDemo">Is Demo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="maxSize"><span jhiTranslate="cmsv2App.currency.maxSize">Max Size</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="minSize"><span jhiTranslate="cmsv2App.currency.minSize">Min Size</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="maxTime"><span jhiTranslate="cmsv2App.currency.maxTime">Max Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="initAmountDemo"><span jhiTranslate="cmsv2App.currency.initAmountDemo">Init Amount Demo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="decimalAmount"><span jhiTranslate="cmsv2App.currency.decimalAmount">Decimal Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="baseUnit"><span jhiTranslate="cmsv2App.currency.baseUnit">Base Unit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let currency of currencies ;trackBy: trackId">
                <td><a [routerLink]="['/currency', currency.id, 'view' ]">{{currency.id}}</a></td>
                <td>{{currency.name}}</td>
                <td>{{currency.code}}</td>
                <td>{{currency.targetConfirms}}</td>
                <td>{{currency.activeFlg}}</td>
                <td>{{currency.created | date:'medium'}}</td>
                <td>{{currency.updated | date:'medium'}}</td>
                <td>{{currency.isDemo}}</td>
                <td>{{currency.maxSize}}</td>
                <td>{{currency.minSize}}</td>
                <td>{{currency.maxTime}}</td>
                <td>{{currency.initAmountDemo}}</td>
                <td>{{currency.decimalAmount}}</td>
                <td>{{currency.baseUnit}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/currency', currency.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/currency', currency.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/currency', { outlets: { popup: currency.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="currencies?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
