<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="currency">
            <h2><span jhiTranslate="cmsv2App.currency.detail.title">Currency</span> {{currency.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cmsv2App.currency.name">Name</span></dt>
                <dd>
                    <span>{{currency.name}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.currency.code">Code</span></dt>
                <dd>
                    <span>{{currency.code}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.currency.targetConfirms">Target Confirms</span></dt>
                <dd>
                    <span>{{currency.targetConfirms}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.currency.activeFlg">Active Flg</span></dt>
                <dd>
                    <span>{{currency.activeFlg}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.currency.created">Created</span></dt>
                <dd>
                    <span>{{currency.created}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.currency.updated">Updated</span></dt>
                <dd>
                    <span>{{currency.updated}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.currency.isDemo">Is Demo</span></dt>
                <dd>
                    <span>{{currency.isDemo}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.currency.maxSize">Max Size</span></dt>
                <dd>
                    <span>{{currency.maxSize}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.currency.minSize">Min Size</span></dt>
                <dd>
                    <span>{{currency.minSize}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.currency.maxTime">Max Time</span></dt>
                <dd>
                    <span>{{currency.maxTime}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.currency.initAmountDemo">Init Amount Demo</span></dt>
                <dd>
                    <span>{{currency.initAmountDemo}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.currency.decimalAmount">Decimal Amount</span></dt>
                <dd>
                    <span>{{currency.decimalAmount}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.currency.baseUnit">Base Unit</span></dt>
                <dd>
                    <span>{{currency.baseUnit}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/currency', currency.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
