<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="address">
            <h2><span jhiTranslate="cmsv2App.address.detail.title">Address</span> {{address.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cmsv2App.address.balanceId">Balance Id</span></dt>
                <dd>
                    <span>{{address.balanceId}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.address.status">Status</span></dt>
                <dd>
                    <span>{{address.status}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.address.address">Address</span></dt>
                <dd>
                    <span>{{address.address}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.address.userId">User Id</span></dt>
                <dd>
                    <span>{{address.userId}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.address.currency">Currency</span></dt>
                <dd>
                    <span>{{address.currency}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.address.extraUuid">Extra Uuid</span></dt>
                <dd>
                    <span>{{address.extraUuid}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.address.currencyId">Currency Id</span></dt>
                <dd>
                    <span>{{address.currencyId}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.address.path">Path</span></dt>
                <dd>
                    <span>{{address.path}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.address.created">Created</span></dt>
                <dd>
                    <span>{{address.created}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.address.brokerId">Broker Id</span></dt>
                <dd>
                    <span>{{address.brokerId}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/address', address.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
