<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-address-heading" jhiTranslate="cmsv2App.address.home.createOrEditLabel">Create or edit a Address</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.address.balanceId" for="field_balanceId">Balance Id</label>
                    <input type="number" class="form-control" name="balanceId" id="field_balanceId"
                           formControlName="balanceId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.address.status" for="field_status">Status</label>
                    <input type="number" class="form-control" name="status" id="field_status"
                           formControlName="status"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.address.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.address.userId" for="field_userId">User Id</label>
                    <input type="number" class="form-control" name="userId" id="field_userId"
                           formControlName="userId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.address.currency" for="field_currency">Currency</label>
                    <input type="text" class="form-control" name="currency" id="field_currency"
                           formControlName="currency"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.address.extraUuid" for="field_extraUuid">Extra Uuid</label>
                    <input type="text" class="form-control" name="extraUuid" id="field_extraUuid"
                           formControlName="extraUuid"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.address.currencyId" for="field_currencyId">Currency Id</label>
                    <input type="number" class="form-control" name="currencyId" id="field_currencyId"
                           formControlName="currencyId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.address.path" for="field_path">Path</label>
                    <input type="text" class="form-control" name="path" id="field_path"
                           formControlName="path"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.address.created" for="field_created">Created</label>
                    <div class="d-flex">
                        <input id="field_created" type="datetime-local" class="form-control" name="created" formControlName="created" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.address.brokerId" for="field_brokerId">Broker Id</label>
                    <input type="number" class="form-control" name="brokerId" id="field_brokerId"
                           formControlName="brokerId"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
