<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="symbolConfig">
            <h2><span jhiTranslate="cmsv2App.symbolConfig.detail.title">Symbol Config</span> {{symbolConfig.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cmsv2App.symbolConfig.symbol">Symbol</span></dt>
                <dd>
                    <span>{{symbolConfig.symbol}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.symbolConfig.baseCcId">Base Cc Id</span></dt>
                <dd>
                    <span>{{symbolConfig.baseCcId}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.symbolConfig.baseCc">Base Cc</span></dt>
                <dd>
                    <span>{{symbolConfig.baseCc}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.symbolConfig.counterCcId">Counter Cc Id</span></dt>
                <dd>
                    <span>{{symbolConfig.counterCcId}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.symbolConfig.counterCc">Counter Cc</span></dt>
                <dd>
                    <span>{{symbolConfig.counterCc}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.symbolConfig.type">Type</span></dt>
                <dd>
                    <span>{{symbolConfig.type}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.symbolConfig.groupName">Group Name</span></dt>
                <dd>
                    <span>{{symbolConfig.groupName}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.symbolConfig.description">Description</span></dt>
                <dd>
                    <span>{{symbolConfig.description}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.symbolConfig.decimalPlaceAmount">Decimal Place Amount</span></dt>
                <dd>
                    <span>{{symbolConfig.decimalPlaceAmount}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.symbolConfig.decimalPlacePrice">Decimal Place Price</span></dt>
                <dd>
                    <span>{{symbolConfig.decimalPlacePrice}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.symbolConfig.isDemo">Is Demo</span></dt>
                <dd>
                    <span>{{symbolConfig.isDemo}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/symbol-config', symbolConfig.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
