<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-symbol-config-heading" jhiTranslate="cmsv2App.symbolConfig.home.createOrEditLabel">Create or edit a Symbol Config</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.symbolConfig.symbol" for="field_symbol">Symbol</label>
                    <input type="text" class="form-control" name="symbol" id="field_symbol"
                           formControlName="symbol"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.symbolConfig.baseCcId" for="field_baseCcId">Base Cc Id</label>
                    <input type="number" class="form-control" name="baseCcId" id="field_baseCcId"
                           formControlName="baseCcId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.symbolConfig.baseCc" for="field_baseCc">Base Cc</label>
                    <input type="text" class="form-control" name="baseCc" id="field_baseCc"
                           formControlName="baseCc"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.symbolConfig.counterCcId" for="field_counterCcId">Counter Cc Id</label>
                    <input type="number" class="form-control" name="counterCcId" id="field_counterCcId"
                           formControlName="counterCcId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.symbolConfig.counterCc" for="field_counterCc">Counter Cc</label>
                    <input type="text" class="form-control" name="counterCc" id="field_counterCc"
                           formControlName="counterCc"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.symbolConfig.type" for="field_type">Type</label>
                    <input type="number" class="form-control" name="type" id="field_type"
                           formControlName="type"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.symbolConfig.groupName" for="field_groupName">Group Name</label>
                    <input type="text" class="form-control" name="groupName" id="field_groupName"
                           formControlName="groupName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.symbolConfig.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.symbolConfig.decimalPlaceAmount" for="field_decimalPlaceAmount">Decimal Place Amount</label>
                    <input type="number" class="form-control" name="decimalPlaceAmount" id="field_decimalPlaceAmount"
                           formControlName="decimalPlaceAmount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.symbolConfig.decimalPlacePrice" for="field_decimalPlacePrice">Decimal Place Price</label>
                    <input type="number" class="form-control" name="decimalPlacePrice" id="field_decimalPlacePrice"
                           formControlName="decimalPlacePrice"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.symbolConfig.isDemo" for="field_isDemo">Is Demo</label>
                    <input type="number" class="form-control" name="isDemo" id="field_isDemo"
                           formControlName="isDemo"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
