<div>
    <h2 id="page-heading">
        <span jhiTranslate="cmsv2App.symbolConfig.home.title">Symbol Configs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-symbol-config" [routerLink]="['/symbol-config/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cmsv2App.symbolConfig.home.createLabel">
            Create a new Symbol Config
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="symbolConfigs?.length === 0">
        <span jhiTranslate="cmsv2App.symbolConfig.home.notFound">No symbolConfigs found</span>
    </div>
    <div class="table-responsive" *ngIf="symbolConfigs?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="symbol"><span jhiTranslate="cmsv2App.symbolConfig.symbol">Symbol</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="baseCcId"><span jhiTranslate="cmsv2App.symbolConfig.baseCcId">Base Cc Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="baseCc"><span jhiTranslate="cmsv2App.symbolConfig.baseCc">Base Cc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="counterCcId"><span jhiTranslate="cmsv2App.symbolConfig.counterCcId">Counter Cc Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="counterCc"><span jhiTranslate="cmsv2App.symbolConfig.counterCc">Counter Cc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="type"><span jhiTranslate="cmsv2App.symbolConfig.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="groupName"><span jhiTranslate="cmsv2App.symbolConfig.groupName">Group Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="cmsv2App.symbolConfig.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="decimalPlaceAmount"><span jhiTranslate="cmsv2App.symbolConfig.decimalPlaceAmount">Decimal Place Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="decimalPlacePrice"><span jhiTranslate="cmsv2App.symbolConfig.decimalPlacePrice">Decimal Place Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isDemo"><span jhiTranslate="cmsv2App.symbolConfig.isDemo">Is Demo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let symbolConfig of symbolConfigs ;trackBy: trackId">
                <td><a [routerLink]="['/symbol-config', symbolConfig.id, 'view' ]">{{symbolConfig.id}}</a></td>
                <td>{{symbolConfig.symbol}}</td>
                <td>{{symbolConfig.baseCcId}}</td>
                <td>{{symbolConfig.baseCc}}</td>
                <td>{{symbolConfig.counterCcId}}</td>
                <td>{{symbolConfig.counterCc}}</td>
                <td>{{symbolConfig.type}}</td>
                <td>{{symbolConfig.groupName}}</td>
                <td>{{symbolConfig.description}}</td>
                <td>{{symbolConfig.decimalPlaceAmount}}</td>
                <td>{{symbolConfig.decimalPlacePrice}}</td>
                <td>{{symbolConfig.isDemo}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/symbol-config', symbolConfig.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/symbol-config', symbolConfig.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/symbol-config', { outlets: { popup: symbolConfig.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="symbolConfigs?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
