<div>
    <h2 id="page-heading">
        <span jhiTranslate="cmsv2App.mailTemplate.home.title">Mail Templates</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mail-template" [routerLink]="['/mail-template/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cmsv2App.mailTemplate.home.createLabel">
            Create a new Mail Template
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="mailTemplates?.length === 0">
        <span jhiTranslate="cmsv2App.mailTemplate.home.notFound">No mailTemplates found</span>
    </div>
    <div class="table-responsive" *ngIf="mailTemplates?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mailCode"><span jhiTranslate="cmsv2App.mailTemplate.mailCode">Mail Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mailContent"><span jhiTranslate="cmsv2App.mailTemplate.mailContent">Mail Content</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mailType"><span jhiTranslate="cmsv2App.mailTemplate.mailType">Mail Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cc"><span jhiTranslate="cmsv2App.mailTemplate.cc">Cc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bcc"><span jhiTranslate="cmsv2App.mailTemplate.bcc">Bcc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="created"><span jhiTranslate="cmsv2App.mailTemplate.created">Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updated"><span jhiTranslate="cmsv2App.mailTemplate.updated">Updated</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="activeFlg"><span jhiTranslate="cmsv2App.mailTemplate.activeFlg">Active Flg</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mailSubject"><span jhiTranslate="cmsv2App.mailTemplate.mailSubject">Mail Subject</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mailTemplate of mailTemplates ;trackBy: trackId">
                <td><a [routerLink]="['/mail-template', mailTemplate.id, 'view' ]">{{mailTemplate.id}}</a></td>
                <td>{{mailTemplate.mailCode}}</td>
                <td>{{mailTemplate.mailContent}}</td>
                <td>{{mailTemplate.mailType}}</td>
                <td>{{mailTemplate.cc}}</td>
                <td>{{mailTemplate.bcc}}</td>
                <td>{{mailTemplate.created | date:'medium'}}</td>
                <td>{{mailTemplate.updated | date:'medium'}}</td>
                <td>{{mailTemplate.activeFlg}}</td>
                <td>{{mailTemplate.mailSubject}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/mail-template', mailTemplate.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/mail-template', mailTemplate.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/mail-template', { outlets: { popup: mailTemplate.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="mailTemplates?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
