<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-mail-template-heading" jhiTranslate="cmsv2App.mailTemplate.home.createOrEditLabel">Create or edit a Mail Template</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.mailTemplate.mailCode" for="field_mailCode">Mail Code</label>
                    <input type="text" class="form-control" name="mailCode" id="field_mailCode"
                           formControlName="mailCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.mailTemplate.mailContent" for="field_mailContent">Mail Content</label>
                    <textarea class="form-control" name="mailContent" id="field_mailContent"
                              formControlName="mailContent"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.mailTemplate.mailType" for="field_mailType">Mail Type</label>
                    <input type="text" class="form-control" name="mailType" id="field_mailType"
                           formControlName="mailType"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.mailTemplate.cc" for="field_cc">Cc</label>
                    <input type="text" class="form-control" name="cc" id="field_cc"
                           formControlName="cc"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.mailTemplate.bcc" for="field_bcc">Bcc</label>
                    <input type="text" class="form-control" name="bcc" id="field_bcc"
                           formControlName="bcc"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.mailTemplate.created" for="field_created">Created</label>
                    <div class="d-flex">
                        <input id="field_created" type="datetime-local" class="form-control" name="created" formControlName="created" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.mailTemplate.updated" for="field_updated">Updated</label>
                    <div class="d-flex">
                        <input id="field_updated" type="datetime-local" class="form-control" name="updated" formControlName="updated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.mailTemplate.activeFlg" for="field_activeFlg">Active Flg</label>
                    <input type="number" class="form-control" name="activeFlg" id="field_activeFlg"
                           formControlName="activeFlg"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.mailTemplate.mailSubject" for="field_mailSubject">Mail Subject</label>
                    <textarea class="form-control" name="mailSubject" id="field_mailSubject"
                              formControlName="mailSubject"></textarea>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
