<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="mailTemplate">
            <h2><span jhiTranslate="cmsv2App.mailTemplate.detail.title">Mail Template</span> {{mailTemplate.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cmsv2App.mailTemplate.mailCode">Mail Code</span></dt>
                <dd>
                    <span>{{mailTemplate.mailCode}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.mailTemplate.mailContent">Mail Content</span></dt>
                <dd>
                    <span>{{mailTemplate.mailContent}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.mailTemplate.mailType">Mail Type</span></dt>
                <dd>
                    <span>{{mailTemplate.mailType}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.mailTemplate.cc">Cc</span></dt>
                <dd>
                    <span>{{mailTemplate.cc}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.mailTemplate.bcc">Bcc</span></dt>
                <dd>
                    <span>{{mailTemplate.bcc}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.mailTemplate.created">Created</span></dt>
                <dd>
                    <span>{{mailTemplate.created}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.mailTemplate.updated">Updated</span></dt>
                <dd>
                    <span>{{mailTemplate.updated}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.mailTemplate.activeFlg">Active Flg</span></dt>
                <dd>
                    <span>{{mailTemplate.activeFlg}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.mailTemplate.mailSubject">Mail Subject</span></dt>
                <dd>
                    <span>{{mailTemplate.mailSubject}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/mail-template', mailTemplate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
