<div>
    <h2 id="page-heading">
        <span jhiTranslate="cmsv2App.brokerSymbolConfig.home.title">Broker Symbol Configs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-broker-symbol-config" [routerLink]="['/broker-symbol-config/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cmsv2App.brokerSymbolConfig.home.createLabel">
            Create a new Broker Symbol Config
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="brokerSymbolConfigs?.length === 0">
        <span jhiTranslate="cmsv2App.brokerSymbolConfig.home.notFound">No brokerSymbolConfigs found</span>
    </div>
    <div class="table-responsive" *ngIf="brokerSymbolConfigs?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="brokerId"><span jhiTranslate="cmsv2App.brokerSymbolConfig.brokerId">Broker Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="symbolId"><span jhiTranslate="cmsv2App.brokerSymbolConfig.symbolId">Symbol Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tradable"><span jhiTranslate="cmsv2App.brokerSymbolConfig.tradable">Tradable</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="minTrade"><span jhiTranslate="cmsv2App.brokerSymbolConfig.minTrade">Min Trade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="marginEnable"><span jhiTranslate="cmsv2App.brokerSymbolConfig.marginEnable">Margin Enable</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="maxTrade"><span jhiTranslate="cmsv2App.brokerSymbolConfig.maxTrade">Max Trade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="maxPrice"><span jhiTranslate="cmsv2App.brokerSymbolConfig.maxPrice">Max Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="created"><span jhiTranslate="cmsv2App.brokerSymbolConfig.created">Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updated"><span jhiTranslate="cmsv2App.brokerSymbolConfig.updated">Updated</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="minPrice"><span jhiTranslate="cmsv2App.brokerSymbolConfig.minPrice">Min Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="activeFlg"><span jhiTranslate="cmsv2App.brokerSymbolConfig.activeFlg">Active Flg</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let brokerSymbolConfig of brokerSymbolConfigs ;trackBy: trackId">
                <td><a [routerLink]="['/broker-symbol-config', brokerSymbolConfig.id, 'view' ]">{{brokerSymbolConfig.id}}</a></td>
                <td>{{brokerSymbolConfig.brokerId}}</td>
                <td>{{brokerSymbolConfig.symbolId}}</td>
                <td>{{brokerSymbolConfig.tradable}}</td>
                <td>{{brokerSymbolConfig.minTrade}}</td>
                <td>{{brokerSymbolConfig.marginEnable}}</td>
                <td>{{brokerSymbolConfig.maxTrade}}</td>
                <td>{{brokerSymbolConfig.maxPrice}}</td>
                <td>{{brokerSymbolConfig.created | date:'medium'}}</td>
                <td>{{brokerSymbolConfig.updated | date:'medium'}}</td>
                <td>{{brokerSymbolConfig.minPrice}}</td>
                <td>{{brokerSymbolConfig.activeFlg}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/broker-symbol-config', brokerSymbolConfig.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/broker-symbol-config', brokerSymbolConfig.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/broker-symbol-config', { outlets: { popup: brokerSymbolConfig.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="brokerSymbolConfigs?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
