<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="brokerSymbolConfig">
            <h2><span jhiTranslate="cmsv2App.brokerSymbolConfig.detail.title">Broker Symbol Config</span> {{brokerSymbolConfig.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cmsv2App.brokerSymbolConfig.brokerId">Broker Id</span></dt>
                <dd>
                    <span>{{brokerSymbolConfig.brokerId}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.brokerSymbolConfig.symbolId">Symbol Id</span></dt>
                <dd>
                    <span>{{brokerSymbolConfig.symbolId}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.brokerSymbolConfig.tradable">Tradable</span></dt>
                <dd>
                    <span>{{brokerSymbolConfig.tradable}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.brokerSymbolConfig.minTrade">Min Trade</span></dt>
                <dd>
                    <span>{{brokerSymbolConfig.minTrade}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.brokerSymbolConfig.marginEnable">Margin Enable</span></dt>
                <dd>
                    <span>{{brokerSymbolConfig.marginEnable}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.brokerSymbolConfig.maxTrade">Max Trade</span></dt>
                <dd>
                    <span>{{brokerSymbolConfig.maxTrade}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.brokerSymbolConfig.maxPrice">Max Price</span></dt>
                <dd>
                    <span>{{brokerSymbolConfig.maxPrice}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.brokerSymbolConfig.created">Created</span></dt>
                <dd>
                    <span>{{brokerSymbolConfig.created}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.brokerSymbolConfig.updated">Updated</span></dt>
                <dd>
                    <span>{{brokerSymbolConfig.updated}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.brokerSymbolConfig.minPrice">Min Price</span></dt>
                <dd>
                    <span>{{brokerSymbolConfig.minPrice}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.brokerSymbolConfig.activeFlg">Active Flg</span></dt>
                <dd>
                    <span>{{brokerSymbolConfig.activeFlg}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/broker-symbol-config', brokerSymbolConfig.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
