<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-broker-symbol-config-heading" jhiTranslate="cmsv2App.brokerSymbolConfig.home.createOrEditLabel">Create or edit a Broker Symbol Config</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.brokerSymbolConfig.brokerId" for="field_brokerId">Broker Id</label>
                    <input type="number" class="form-control" name="brokerId" id="field_brokerId"
                           formControlName="brokerId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.brokerSymbolConfig.symbolId" for="field_symbolId">Symbol Id</label>
                    <input type="number" class="form-control" name="symbolId" id="field_symbolId"
                           formControlName="symbolId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.brokerSymbolConfig.tradable" for="field_tradable">Tradable</label>
                    <input type="number" class="form-control" name="tradable" id="field_tradable"
                           formControlName="tradable"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.brokerSymbolConfig.minTrade" for="field_minTrade">Min Trade</label>
                    <input type="number" class="form-control" name="minTrade" id="field_minTrade"
                           formControlName="minTrade"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.brokerSymbolConfig.marginEnable" for="field_marginEnable">Margin Enable</label>
                    <input type="number" class="form-control" name="marginEnable" id="field_marginEnable"
                           formControlName="marginEnable"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.brokerSymbolConfig.maxTrade" for="field_maxTrade">Max Trade</label>
                    <input type="number" class="form-control" name="maxTrade" id="field_maxTrade"
                           formControlName="maxTrade"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.brokerSymbolConfig.maxPrice" for="field_maxPrice">Max Price</label>
                    <input type="number" class="form-control" name="maxPrice" id="field_maxPrice"
                           formControlName="maxPrice"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.brokerSymbolConfig.created" for="field_created">Created</label>
                    <div class="d-flex">
                        <input id="field_created" type="datetime-local" class="form-control" name="created" formControlName="created" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.brokerSymbolConfig.updated" for="field_updated">Updated</label>
                    <div class="d-flex">
                        <input id="field_updated" type="datetime-local" class="form-control" name="updated" formControlName="updated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.brokerSymbolConfig.minPrice" for="field_minPrice">Min Price</label>
                    <input type="number" class="form-control" name="minPrice" id="field_minPrice"
                           formControlName="minPrice"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.brokerSymbolConfig.activeFlg" for="field_activeFlg">Active Flg</label>
                    <input type="number" class="form-control" name="activeFlg" id="field_activeFlg"
                           formControlName="activeFlg"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
