<div>
    <h2 id="page-heading">
        <span jhiTranslate="cmsv2App.userSetting.home.title">User Settings</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-setting" [routerLink]="['/user-setting/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cmsv2App.userSetting.home.createLabel">
            Create a new User Setting
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="userSettings?.length === 0">
        <span jhiTranslate="cmsv2App.userSetting.home.notFound">No userSettings found</span>
    </div>
    <div class="table-responsive" *ngIf="userSettings?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="loginAlert"><span jhiTranslate="cmsv2App.userSetting.loginAlert">Login Alert</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="keepAlive"><span jhiTranslate="cmsv2App.userSetting.keepAlive">Keep Alive</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="detectIpChange"><span jhiTranslate="cmsv2App.userSetting.detectIpChange">Detect Ip Change</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="activeFlg"><span jhiTranslate="cmsv2App.userSetting.activeFlg">Active Flg</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="created"><span jhiTranslate="cmsv2App.userSetting.created">Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updated"><span jhiTranslate="cmsv2App.userSetting.updated">Updated</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dob"><span jhiTranslate="cmsv2App.userSetting.dob">Dob</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="avator"><span jhiTranslate="cmsv2App.userSetting.avator">Avator</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="username"><span jhiTranslate="cmsv2App.userSetting.username">Username</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="firstName"><span jhiTranslate="cmsv2App.userSetting.firstName">First Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="middleName"><span jhiTranslate="cmsv2App.userSetting.middleName">Middle Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastName"><span jhiTranslate="cmsv2App.userSetting.lastName">Last Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sfa"><span jhiTranslate="cmsv2App.userSetting.sfa">Sfa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="faSeed"><span jhiTranslate="cmsv2App.userSetting.faSeed">Fa Seed</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="refId"><span jhiTranslate="cmsv2App.userSetting.refId">Ref Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="wdWhitelistStatus"><span jhiTranslate="cmsv2App.userSetting.wdWhitelistStatus">Wd Whitelist Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="verifyLevel"><span jhiTranslate="cmsv2App.userSetting.verifyLevel">Verify Level</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="wdDailyLimit"><span jhiTranslate="cmsv2App.userSetting.wdDailyLimit">Wd Daily Limit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dailyWdAmount"><span jhiTranslate="cmsv2App.userSetting.dailyWdAmount">Daily Wd Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="address"><span jhiTranslate="cmsv2App.userSetting.address">Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="postCode"><span jhiTranslate="cmsv2App.userSetting.postCode">Post Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="city"><span jhiTranslate="cmsv2App.userSetting.city">City</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="country"><span jhiTranslate="cmsv2App.userSetting.country">Country</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="takerFee"><span jhiTranslate="cmsv2App.userSetting.takerFee">Taker Fee</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="makerFee"><span jhiTranslate="cmsv2App.userSetting.makerFee">Maker Fee</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="feeType"><span jhiTranslate="cmsv2App.userSetting.feeType">Fee Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="identityId"><span jhiTranslate="cmsv2App.userSetting.identityId">Identity Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="withdrawBlocktime"><span jhiTranslate="cmsv2App.userSetting.withdrawBlocktime">Withdraw Blocktime</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userSetting of userSettings ;trackBy: trackId">
                <td><a [routerLink]="['/user-setting', userSetting.id, 'view' ]">{{userSetting.id}}</a></td>
                <td>{{userSetting.loginAlert}}</td>
                <td>{{userSetting.keepAlive}}</td>
                <td>{{userSetting.detectIpChange}}</td>
                <td>{{userSetting.activeFlg}}</td>
                <td>{{userSetting.created | date:'medium'}}</td>
                <td>{{userSetting.updated | date:'medium'}}</td>
                <td>{{userSetting.dob | date:'medium'}}</td>
                <td>{{userSetting.avator}}</td>
                <td>{{userSetting.username}}</td>
                <td>{{userSetting.firstName}}</td>
                <td>{{userSetting.middleName}}</td>
                <td>{{userSetting.lastName}}</td>
                <td>{{userSetting.sfa}}</td>
                <td>{{userSetting.faSeed}}</td>
                <td>{{userSetting.refId}}</td>
                <td>{{userSetting.wdWhitelistStatus}}</td>
                <td>{{userSetting.verifyLevel}}</td>
                <td>{{userSetting.wdDailyLimit}}</td>
                <td>{{userSetting.dailyWdAmount}}</td>
                <td>{{userSetting.address}}</td>
                <td>{{userSetting.postCode}}</td>
                <td>{{userSetting.city}}</td>
                <td>{{userSetting.country}}</td>
                <td>{{userSetting.takerFee}}</td>
                <td>{{userSetting.makerFee}}</td>
                <td>{{userSetting.feeType}}</td>
                <td>{{userSetting.identityId}}</td>
                <td>{{userSetting.withdrawBlocktime}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/user-setting', userSetting.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-setting', userSetting.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-setting', { outlets: { popup: userSetting.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="userSettings?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
