<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userSetting">
            <h2><span jhiTranslate="cmsv2App.userSetting.detail.title">User Setting</span> {{userSetting.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cmsv2App.userSetting.loginAlert">Login Alert</span></dt>
                <dd>
                    <span>{{userSetting.loginAlert}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userSetting.keepAlive">Keep Alive</span></dt>
                <dd>
                    <span>{{userSetting.keepAlive}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userSetting.detectIpChange">Detect Ip Change</span></dt>
                <dd>
                    <span>{{userSetting.detectIpChange}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userSetting.activeFlg">Active Flg</span></dt>
                <dd>
                    <span>{{userSetting.activeFlg}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userSetting.created">Created</span></dt>
                <dd>
                    <span>{{userSetting.created}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userSetting.updated">Updated</span></dt>
                <dd>
                    <span>{{userSetting.updated}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userSetting.dob">Dob</span></dt>
                <dd>
                    <span>{{userSetting.dob}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userSetting.avator">Avator</span></dt>
                <dd>
                    <span>{{userSetting.avator}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userSetting.username">Username</span></dt>
                <dd>
                    <span>{{userSetting.username}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userSetting.firstName">First Name</span></dt>
                <dd>
                    <span>{{userSetting.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userSetting.middleName">Middle Name</span></dt>
                <dd>
                    <span>{{userSetting.middleName}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userSetting.lastName">Last Name</span></dt>
                <dd>
                    <span>{{userSetting.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userSetting.sfa">Sfa</span></dt>
                <dd>
                    <span>{{userSetting.sfa}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userSetting.faSeed">Fa Seed</span></dt>
                <dd>
                    <span>{{userSetting.faSeed}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userSetting.refId">Ref Id</span></dt>
                <dd>
                    <span>{{userSetting.refId}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userSetting.wdWhitelistStatus">Wd Whitelist Status</span></dt>
                <dd>
                    <span>{{userSetting.wdWhitelistStatus}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userSetting.verifyLevel">Verify Level</span></dt>
                <dd>
                    <span>{{userSetting.verifyLevel}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userSetting.wdDailyLimit">Wd Daily Limit</span></dt>
                <dd>
                    <span>{{userSetting.wdDailyLimit}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userSetting.dailyWdAmount">Daily Wd Amount</span></dt>
                <dd>
                    <span>{{userSetting.dailyWdAmount}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userSetting.address">Address</span></dt>
                <dd>
                    <span>{{userSetting.address}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userSetting.postCode">Post Code</span></dt>
                <dd>
                    <span>{{userSetting.postCode}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userSetting.city">City</span></dt>
                <dd>
                    <span>{{userSetting.city}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userSetting.country">Country</span></dt>
                <dd>
                    <span>{{userSetting.country}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userSetting.takerFee">Taker Fee</span></dt>
                <dd>
                    <span>{{userSetting.takerFee}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userSetting.makerFee">Maker Fee</span></dt>
                <dd>
                    <span>{{userSetting.makerFee}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userSetting.feeType">Fee Type</span></dt>
                <dd>
                    <span>{{userSetting.feeType}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userSetting.identityId">Identity Id</span></dt>
                <dd>
                    <span>{{userSetting.identityId}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userSetting.withdrawBlocktime">Withdraw Blocktime</span></dt>
                <dd>
                    <span>{{userSetting.withdrawBlocktime}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-setting', userSetting.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
