<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-user-setting-heading" jhiTranslate="cmsv2App.userSetting.home.createOrEditLabel">Create or edit a User Setting</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.userSetting.loginAlert" for="field_loginAlert">Login Alert</label>
                    <input type="number" class="form-control" name="loginAlert" id="field_loginAlert"
                           formControlName="loginAlert"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.userSetting.keepAlive" for="field_keepAlive">Keep Alive</label>
                    <input type="number" class="form-control" name="keepAlive" id="field_keepAlive"
                           formControlName="keepAlive"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.userSetting.detectIpChange" for="field_detectIpChange">Detect Ip Change</label>
                    <input type="number" class="form-control" name="detectIpChange" id="field_detectIpChange"
                           formControlName="detectIpChange"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.userSetting.activeFlg" for="field_activeFlg">Active Flg</label>
                    <input type="number" class="form-control" name="activeFlg" id="field_activeFlg"
                           formControlName="activeFlg"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.userSetting.created" for="field_created">Created</label>
                    <div class="d-flex">
                        <input id="field_created" type="datetime-local" class="form-control" name="created" formControlName="created" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.userSetting.updated" for="field_updated">Updated</label>
                    <div class="d-flex">
                        <input id="field_updated" type="datetime-local" class="form-control" name="updated" formControlName="updated" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.userSetting.dob" for="field_dob">Dob</label>
                    <div class="d-flex">
                        <input id="field_dob" type="datetime-local" class="form-control" name="dob" formControlName="dob" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.userSetting.avator" for="field_avator">Avator</label>
                    <input type="text" class="form-control" name="avator" id="field_avator"
                           formControlName="avator"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.userSetting.username" for="field_username">Username</label>
                    <input type="text" class="form-control" name="username" id="field_username"
                           formControlName="username"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.userSetting.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.userSetting.middleName" for="field_middleName">Middle Name</label>
                    <input type="text" class="form-control" name="middleName" id="field_middleName"
                           formControlName="middleName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.userSetting.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.userSetting.sfa" for="field_sfa">Sfa</label>
                    <input type="number" class="form-control" name="sfa" id="field_sfa"
                           formControlName="sfa"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.userSetting.faSeed" for="field_faSeed">Fa Seed</label>
                    <input type="text" class="form-control" name="faSeed" id="field_faSeed"
                           formControlName="faSeed"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.userSetting.refId" for="field_refId">Ref Id</label>
                    <input type="text" class="form-control" name="refId" id="field_refId"
                           formControlName="refId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.userSetting.wdWhitelistStatus" for="field_wdWhitelistStatus">Wd Whitelist Status</label>
                    <input type="number" class="form-control" name="wdWhitelistStatus" id="field_wdWhitelistStatus"
                           formControlName="wdWhitelistStatus"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.userSetting.verifyLevel" for="field_verifyLevel">Verify Level</label>
                    <input type="number" class="form-control" name="verifyLevel" id="field_verifyLevel"
                           formControlName="verifyLevel"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.userSetting.wdDailyLimit" for="field_wdDailyLimit">Wd Daily Limit</label>
                    <input type="number" class="form-control" name="wdDailyLimit" id="field_wdDailyLimit"
                           formControlName="wdDailyLimit"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.userSetting.dailyWdAmount" for="field_dailyWdAmount">Daily Wd Amount</label>
                    <input type="number" class="form-control" name="dailyWdAmount" id="field_dailyWdAmount"
                           formControlName="dailyWdAmount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.userSetting.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.userSetting.postCode" for="field_postCode">Post Code</label>
                    <input type="text" class="form-control" name="postCode" id="field_postCode"
                           formControlName="postCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.userSetting.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                           formControlName="city"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.userSetting.country" for="field_country">Country</label>
                    <input type="text" class="form-control" name="country" id="field_country"
                           formControlName="country"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.userSetting.takerFee" for="field_takerFee">Taker Fee</label>
                    <input type="number" class="form-control" name="takerFee" id="field_takerFee"
                           formControlName="takerFee"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.userSetting.makerFee" for="field_makerFee">Maker Fee</label>
                    <input type="number" class="form-control" name="makerFee" id="field_makerFee"
                           formControlName="makerFee"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.userSetting.feeType" for="field_feeType">Fee Type</label>
                    <input type="number" class="form-control" name="feeType" id="field_feeType"
                           formControlName="feeType"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.userSetting.identityId" for="field_identityId">Identity Id</label>
                    <input type="text" class="form-control" name="identityId" id="field_identityId"
                           formControlName="identityId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.userSetting.withdrawBlocktime" for="field_withdrawBlocktime">Withdraw Blocktime</label>
                    <input type="number" class="form-control" name="withdrawBlocktime" id="field_withdrawBlocktime"
                           formControlName="withdrawBlocktime"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
