<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="balanceEntity">
            <h2><span jhiTranslate="cmsv2App.balanceEntity.detail.title">Balance Entity</span> {{balanceEntity.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cmsv2App.balanceEntity.userId">User Id</span></dt>
                <dd>
                    <span>{{balanceEntity.userId}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.balanceEntity.currencyId">Currency Id</span></dt>
                <dd>
                    <span>{{balanceEntity.currencyId}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.balanceEntity.type">Type</span></dt>
                <dd>
                    <span>{{balanceEntity.type}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.balanceEntity.amount">Amount</span></dt>
                <dd>
                    <span>{{balanceEntity.amount}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.balanceEntity.reserveAmount">Reserve Amount</span></dt>
                <dd>
                    <span>{{balanceEntity.reserveAmount}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/balance-entity', balanceEntity.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
