<div>
    <h2 id="page-heading">
        <span jhiTranslate="cmsv2App.balanceEntity.home.title">Balance Entities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-balance-entity" [routerLink]="['/balance-entity/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cmsv2App.balanceEntity.home.createLabel">
            Create a new Balance Entity
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="balanceEntities?.length === 0">
        <span jhiTranslate="cmsv2App.balanceEntity.home.notFound">No balanceEntities found</span>
    </div>
    <div class="table-responsive" *ngIf="balanceEntities?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userId"><span jhiTranslate="cmsv2App.balanceEntity.userId">User Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="currencyId"><span jhiTranslate="cmsv2App.balanceEntity.currencyId">Currency Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="type"><span jhiTranslate="cmsv2App.balanceEntity.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amount"><span jhiTranslate="cmsv2App.balanceEntity.amount">Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reserveAmount"><span jhiTranslate="cmsv2App.balanceEntity.reserveAmount">Reserve Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let balanceEntity of balanceEntities ;trackBy: trackId">
                <td><a [routerLink]="['/balance-entity', balanceEntity.id, 'view' ]">{{balanceEntity.id}}</a></td>
                <td>{{balanceEntity.userId}}</td>
                <td>{{balanceEntity.currencyId}}</td>
                <td>{{balanceEntity.type}}</td>
                <td>{{balanceEntity.amount}}</td>
                <td>{{balanceEntity.reserveAmount}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/balance-entity', balanceEntity.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/balance-entity', balanceEntity.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/balance-entity', { outlets: { popup: balanceEntity.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="balanceEntities?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
