<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userLog">
            <h2><span jhiTranslate="cmsv2App.userLog.detail.title">User Log</span> {{userLog.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cmsv2App.userLog.ip">Ip</span></dt>
                <dd>
                    <span>{{userLog.ip}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userLog.userAgent">User Agent</span></dt>
                <dd>
                    <span>{{userLog.userAgent}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userLog.action">Action</span></dt>
                <dd>
                    <span>{{userLog.action}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userLog.detail">Detail</span></dt>
                <dd>
                    <span>{{userLog.detail}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userLog.created">Created</span></dt>
                <dd>
                    <span>{{userLog.created}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-log', userLog.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
