<div>
    <h2 id="page-heading">
        <span jhiTranslate="cmsv2App.userLog.home.title">User Logs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-log" [routerLink]="['/user-log/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cmsv2App.userLog.home.createLabel">
            Create a new User Log
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="userLogs?.length === 0">
        <span jhiTranslate="cmsv2App.userLog.home.notFound">No userLogs found</span>
    </div>
    <div class="table-responsive" *ngIf="userLogs?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ip"><span jhiTranslate="cmsv2App.userLog.ip">Ip</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userAgent"><span jhiTranslate="cmsv2App.userLog.userAgent">User Agent</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="action"><span jhiTranslate="cmsv2App.userLog.action">Action</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="detail"><span jhiTranslate="cmsv2App.userLog.detail">Detail</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="created"><span jhiTranslate="cmsv2App.userLog.created">Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userLog of userLogs ;trackBy: trackId">
                <td><a [routerLink]="['/user-log', userLog.id, 'view' ]">{{userLog.id}}</a></td>
                <td>{{userLog.ip}}</td>
                <td>{{userLog.userAgent}}</td>
                <td>{{userLog.action}}</td>
                <td>{{userLog.detail}}</td>
                <td>{{userLog.created | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/user-log', userLog.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-log', userLog.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-log', { outlets: { popup: userLog.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="userLogs?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
