<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userLogin">
            <h2><span jhiTranslate="cmsv2App.userLogin.detail.title">User Login</span> {{userLogin.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cmsv2App.userLogin.brokerId">Broker Id</span></dt>
                <dd>
                    <span>{{userLogin.brokerId}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userLogin.email">Email</span></dt>
                <dd>
                    <span>{{userLogin.email}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userLogin.password">Password</span></dt>
                <dd>
                    <span>{{userLogin.password}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userLogin.status">Status</span></dt>
                <dd>
                    <span>{{userLogin.status}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userLogin.lastLogin">Last Login</span></dt>
                <dd>
                    <span>{{userLogin.lastLogin}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userLogin.agents">Agents</span></dt>
                <dd>
                    <span>{{userLogin.agents}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userLogin.ips">Ips</span></dt>
                <dd>
                    <span>{{userLogin.ips}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userLogin.activeFlg">Active Flg</span></dt>
                <dd>
                    <span>{{userLogin.activeFlg}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.userLogin.created">Created</span></dt>
                <dd>
                    <span>{{userLogin.created}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-login', userLogin.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
