<div>
    <h2 id="page-heading">
        <span jhiTranslate="cmsv2App.userLogin.home.title">User Logins</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-login" [routerLink]="['/user-login/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cmsv2App.userLogin.home.createLabel">
            Create a new User Login
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="userLogins?.length === 0">
        <span jhiTranslate="cmsv2App.userLogin.home.notFound">No userLogins found</span>
    </div>
    <div class="table-responsive" *ngIf="userLogins?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="brokerId"><span jhiTranslate="cmsv2App.userLogin.brokerId">Broker Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email"><span jhiTranslate="cmsv2App.userLogin.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="password"><span jhiTranslate="cmsv2App.userLogin.password">Password</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="cmsv2App.userLogin.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="lastLogin"><span jhiTranslate="cmsv2App.userLogin.lastLogin">Last Login</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="agents"><span jhiTranslate="cmsv2App.userLogin.agents">Agents</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ips"><span jhiTranslate="cmsv2App.userLogin.ips">Ips</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="activeFlg"><span jhiTranslate="cmsv2App.userLogin.activeFlg">Active Flg</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="created"><span jhiTranslate="cmsv2App.userLogin.created">Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userLogin of userLogins ;trackBy: trackId">
                <td><a [routerLink]="['/user-login', userLogin.id, 'view' ]">{{userLogin.id}}</a></td>
                <td>{{userLogin.brokerId}}</td>
                <td>{{userLogin.email}}</td>
                <td>{{userLogin.password}}</td>
                <td>{{userLogin.status}}</td>
                <td>{{userLogin.lastLogin | date:'medium'}}</td>
                <td>{{userLogin.agents}}</td>
                <td>{{userLogin.ips}}</td>
                <td>{{userLogin.activeFlg}}</td>
                <td>{{userLogin.created | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/user-login', userLogin.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-login', userLogin.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-login', { outlets: { popup: userLogin.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="userLogins?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
