<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="broker">
            <h2><span jhiTranslate="cmsv2App.broker.detail.title">Broker</span> {{broker.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cmsv2App.broker.secretId">Secret Id</span></dt>
                <dd>
                    <span>{{broker.secretId}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.broker.name">Name</span></dt>
                <dd>
                    <span>{{broker.name}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.broker.activeFlg">Active Flg</span></dt>
                <dd>
                    <span>{{broker.activeFlg}}</span>
                </dd>
                <dt><span jhiTranslate="cmsv2App.broker.uri">Uri</span></dt>
                <dd>
                    <span>{{broker.uri}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/broker', broker.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
