<div>
    <h2 id="page-heading">
        <span jhiTranslate="cmsv2App.broker.home.title">Brokers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-broker" [routerLink]="['/broker/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cmsv2App.broker.home.createLabel">
            Create a new Broker
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="brokers?.length === 0">
        <span jhiTranslate="cmsv2App.broker.home.notFound">No brokers found</span>
    </div>
    <div class="table-responsive" *ngIf="brokers?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="secretId"><span jhiTranslate="cmsv2App.broker.secretId">Secret Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="cmsv2App.broker.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="activeFlg"><span jhiTranslate="cmsv2App.broker.activeFlg">Active Flg</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="uri"><span jhiTranslate="cmsv2App.broker.uri">Uri</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let broker of brokers ;trackBy: trackId">
                <td><a [routerLink]="['/broker', broker.id, 'view' ]">{{broker.id}}</a></td>
                <td>{{broker.secretId}}</td>
                <td>{{broker.name}}</td>
                <td>{{broker.activeFlg}}</td>
                <td>{{broker.uri}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/broker', broker.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/broker', broker.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/broker', { outlets: { popup: broker.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="brokers?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
