<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-broker-heading" jhiTranslate="cmsv2App.broker.home.createOrEditLabel">Create or edit a Broker</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.broker.secretId" for="field_secretId">Secret Id</label>
                    <input type="text" class="form-control" name="secretId" id="field_secretId"
                           formControlName="secretId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.broker.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.broker.activeFlg" for="field_activeFlg">Active Flg</label>
                    <input type="text" class="form-control" name="activeFlg" id="field_activeFlg"
                           formControlName="activeFlg"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cmsv2App.broker.uri" for="field_uri">Uri</label>
                    <input type="text" class="form-control" name="uri" id="field_uri"
                           formControlName="uri"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
